:root {
    background-color:rgb(199, 213, 246);
    font-size: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    --hovercolor: rgb(21, 30, 151);
    --buttoncolor: rgb(215, 204, 204);
    --bordercolor: rgb(104, 104, 211);
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h1,
h2 {
    margin-bottom: 5px;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.start-container {
    display: block;
    justify-content: center;
    align-items: center;

}

.timer-container {
    background: rgb(245, 243, 243);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    display: flex;
    width: 5%;
    padding: 25px;
    border: solid rgb(194, 190, 190);

}

.game-container {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.highscore-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-center {
    text-align: center;
}

.button-start {
    background: silver;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 5px;
    display: inline-block;
    
}

.btn {
    font-size: 25px;
    padding: 5px;
    width: 180px;
    text-align: center;
    border: 3px solid var(--bordercolor);
    margin: 4px;
    background-color: var(--buttoncolor);

}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px 8px var(--hovercolor);
 
}

/* p {
   
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

} */

.answer-button{
background-color: #8d88da;
  border: solid rgb(85, 82, 82);
  color: rgb(14, 14, 14);
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}




